
    <!-- 底部
    ================================================== -->
    <footer class="footer">
      <div class="container">
			<br>
          <p> &copy 2016 <if condition="date('Y') gt 2016"><php> echo '-'.date(Y);</php> </if>  <strong><a href="http://www.ji137.com" target="_blank">JI137.com</a></strong> </p>
      </div>
    </footer>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
