<!-- 导航条
================================================== -->
<div class="sidebar">
    <div class="inner">
        <div class="right">
              <block name="right"></block>
         </div>

        <div class="left">
            <a class="brand" style="width:15%;height:45px" href="{:U('index/index')}">
                <img src="__ROOT__/Public/Home/images/logo.png" />
            </a>
            <div class="nav">
               <ul>
                 <li class="oneday"><a href="{:U('index/oneday')}">第一天</a></li>
                 <li class="threeday"><a href="{:U('index/threeday')}">第三天</a></li>
                 <li class="sevenday"><a href="{:U('index/sevenday')}">第七天</a></li>
               </ul>
       

       <div class="bottom">
                 <ul>
                  <li>忆往昔</li>
                  <li>我的...</li>
                  <li> &nbsp;</li>
                 </ul>
        </div>     

            </div>
         </div>

       
    </div>
     
</div>
