<extend name="Base/common"/>

<block name="header"></block>

<block name="side">
<!-- 左侧 nav
================================================== -->
</block>

<block name="body">
  <div class="title">
  	 <p class="word">要记得住不难</p>
  	 <hr class="line"></hr> 
  </div> 

  <div class="contents">
    <p class="subtitle">什么是137？</p>
    <div class="subcontent">
            <p>源自桦泽紫苑的一本书《过目不忘的读书法》里面的章节，作者是一名精神科医生。</p>
            <p>书中有段“因为海马体暂时存储信息的周期为1-2周，在这个1-2周的时间内，如果某部分信息被两到三次重复使用的话，大脑就会给这部分贴上重要的标签，然后这部分信息就被大脑转移到大脑记忆的金库---颞叶部位 ，信息一旦到达颞叶，就会变成永久不忘的记忆，从而被大脑长期保存。”</p>
            <p>其中还有一段”在我上初中和高中的时候，经常需要背诵英语单词，怎么记单词才有效果呢？根据一些单词的书中讲解，先背诵一遍，然后第二天回头在复习一遍，然后过三天后再复习一遍，一周后在复习一遍，到了这个阶段，背通过的单词基本上就不会忘记了... ...<br/>
                   在第一、三、七天进行复习，将最初输入大脑中的知识在一周内输入三次，基本就可以做到留在记忆中。
            “</p>
             <p>这就是开发这款应用的初衷，希望这款应用帮助长期记住重要内容的工具。</p>
             <p>只要输入要记住的内容，他会自动到第三天、第七天提醒你要记住的内容，可以通过邮件，微信提示你。</p>
          
    </div>
   </div>
</block>

