<extend name="Base/common"/>
<block name="style">
 <link rel="stylesheet" type="text/css" href="__STATIC__/wangEditor/css/wangEditor.min.css">	
</block>
<block name="header">
	
</block>

<block name="right">
 <div class="bd">
  <div class="title">
  	 <p class="word">您想记点什么？<span>比如：英语单词，数学公式，一段话......</span></p> 
     <hr class="line"></hr> 
  </div>

  <div class="contents">
    <div class="remember" id="remember"></div>
    <div class="operation">
       <input type="button" class="btn save" name="submit" id="" value="OK" />
      <span> <a href="javascript:void();">清空</a></span>　　 
    </div>

  </div>

  </div>

</block>

<block name="script">
 <script type="text/javascript" src="__STATIC__/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = new wangEditor('remember');
            editor.config.uploadImgUrl = '{:U('File/w_upload')}';
            editor.create();
        
            $('.save').click(function(){
              var url = '{:U('data/save')}';
              //var cnt_data = '&cnt='+editor.$txt.html();
              var cnt_data={'cnt':editor.$txt.html()};
              console.log(cnt_data);
              $.post(url,cnt_data,function(data){
                  alert('保存成功'); 
                  window.location.reload();
              });
            });

        });


    </script>
</block>
