<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
         <div class="form-item">
            <label class="item-label">编号或业务ID<span class="check-tips">（用户编号或业务编号）</span></label>
            <div class="controls">
               <input type="hidden" class="text input-large" name="id" value="{$data.uid}">
                <input type="text" class="text input-large" name="businessid" value="{$data.businessid}">
            </div>
        </div>
  
        
        <div class="form-item">
            <label class="item-label">联系方式<span class="check-tips">（业务联系人和电话等）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="contact" value="{$data.contact}">
            </div>
        </div>
      
        <div class="form-item">
            <label class="item-label">开始时间<span class="check-tips">（设置启用时间）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="time_begin" id="time_begin" value="{$data.time_begin}" placeholder="起始时间" >
            </div>
        </div>
                		
        <div class="form-item">
            <label class="item-label">结束时间<span class="check-tips">（设置停用时间）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="time_end" id="time_end" value="{$data.time_end}" placeholder="结束时间" >
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">备注<span class="check-tips">（包含商品ID，多商品用逗号隔开）</span></label>
            <div class="controls">
                <textarea rows="5" cols="55" name="comments" id="comments" value="">{$comments}</textarea>
            </div>
        </div>
   
        
        <br />
      
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){

    $('#time_begin').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#time_end').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });
    
})

</script>

<script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
</script>


</block>
